p {
  margin: 0;
  z-index: 50;
  position: absolute;
  color: #5c5f80;
  font-size: 3rem;
}

.win1-text {
  left: 45vw;
}

.win2-text {
  left: 10vw
}

.win3-text {
  left: 30vw;
}

.win4-text {
  left: 30vw;
}

.obstacle-text {
  left: 60vw;
}

.assurance-text {
  color: white;
  font-size: 1.2rem;
}
