/* .scroll-indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  color: rgb(203, 158, 158);
} */

.scrolldown {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 70px;
  border: #fff solid 2px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.arrow {
  background-color: #fff;
  width: 5px;
  height: 10px;
  border-radius: 30px;
  margin-top: 10px;
  position: relative;
}

.arrow::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: none;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: translateY(-10px) rotate(135deg);
  left: -6px;
  margin-top: 10px;
  opacity: 0;
  animation: ani 1.8s infinite linear;
}

.arrow::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: none;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: translateY(-10px) rotate(135deg);
  left: -6px;
  margin-top: 10px;
  opacity: 0;

  animation: ani 1.8s infinite linear;
  animation-delay: 0.8s;
}

@keyframes ani {
  0% {
      margin-top: 10px;
      opacity: 0;
  }

  50% {
      margin-top: 25px;
      opacity: 1;
  }

  100% {
      margin-top: 40px;
      opacity: 0;
  }
}