.App img {
  position: absolute;
}

.mountain1 {
  width: 110vw;
  z-index: 6;
}

.mountain2 {
  width: 107vw;
  z-index: 5;
}

.mountain3 {
  width: 107vw;
  z-index: 4;
}

.mountain4 {
  width: 100vw;
  z-index: 3;
}

.mountain5 {
  width: 60vw;
  z-index: 2;
}